<div class="backgroundContainer">
  <div class="buttonDiv">
    <button (click)="openPostForm()" class="addPostBtn">Add Post</button>
  </div>
  <div [ngClass]="{ active: isActive }" class="addingPostContainer">
    <form
      (ngSubmit)="onSubmit(addPostForm.value)"
      [formGroup]="addPostForm"
      (submit)="
        addNewPost(postUser.value, postTitle.value, postBody.value);
        $event.preventDefault()
      "
    >
      <label>Post Author...</label>
      <input formControlName="author" id="author" type="text" #postUser />
      <label>Title </label>
      <input formControlName="title" id="title" type="text" #postTitle />
      <label>Body</label>
      <input formControlName="body" id="body" type="text" #postBody />
      <button [disabled]="!addPostForm.valid" class="addBtn" type="submit">
        Add
      </button>
    </form>
  </div>

  <table>
    <tr>
      <th>POST'S USER</th>
      <th>TITLE</th>
      <th>BODY</th>
    </tr>
    <tr (click)="goToPost(post.id)" *ngFor="let post of bodyText">
      <td>{{ getUserName(post.userId) }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </table>
</div>
