* {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.backgroundContainer {
  width: 100vw;
  height: fit-content;
  background-image: url(../../../assets/imgs/backgr.png);
  border-top: 1px solid gray;
}
.buttonDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addPostBtn {
  background-color: rgb(68, 117, 253);
  color: white;
  font-family: sans-serif;
  padding: 10px 15px;
  border: none;
  margin-top: 50px;
  margin-bottom: 15px;
  border-radius: 6px;
}
.addPostBtn:hover {
  background-color: rgb(186, 233, 255);
  transition-duration: 0.4s;
}
.addingPostContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 158, 255);
  width: 25%;
  height: fit-content;
  padding-bottom: 15px;
  border-radius: 10px;
  justify-content: flex-start;
  margin-bottom: 50px;
}
input {
  width: 95%;
  margin-top: 10px;
}
label {
  display: flex;
  justify-content: flex-start;
  margin-left: 2.5%;
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
}
.addBtn {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 3%;
  margin-top: 15px;
}
.addBtn:hover {
  background-color: rgb(255, 143, 143);
  transition-duration: 0.4s;
}
.active {
  display: flex;
}
table {
  width: 60vw;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
}
td {
  text-align: left;
}
td,
th {
  padding: 15px 30px;
  width: 33%;
}
th {
  text-align: center;
  color: white;
  background-color: rgb(0, 157, 255);
}
tr:nth-child(odd) {
  background-color: #ebebeb;
}
