<div class="background">
  <div class="cardContainer">
    <div class="absoluteDivForCards">
      <div routerLink="/posts" routerLinkActive="active" class="cardContent">
        <img class="img"  src="../../../assets/imgs/postsIcon.png" />
        <h2>Posts</h2>
      </div>
      <div routerLink="/album"  routerLinkActive="active" class="cardContent">
        <img class="img" src="../../../assets/imgs/img_icon.png" />
        <h2>Album</h2>
      </div>
      <div routerLink="/todo" routerLinkActive="active" class="cardContent">
        <img class="img" src="../../../assets/imgs/todo.png" />
        <h2>To-do</h2>
      </div>
    </div>
  </div>

  <div class="footerBackground">
    <img src="../../../assets/imgs/geobackground.jpg" />
  </div>
</div>
