<div class="background">
  <div class="titleContainer">
    <h1>JSON<span>Placeholder</span></h1>
    <h5>Angular App</h5>
  </div>
  <div class="cardContainer">
    <div class="absoluteDivForCards">
      <div routerLink="/posts" routerLinkActive="active" class="cardContent">
        <img class="img" src="../../../assets/imgs/clipboard.png" />
        <h2>Posts</h2>
      </div>
      <div routerLink="/album" routerLinkActive="active" class="cardContent">
        <img class="img" src="../../../assets/imgs/image-gallery.png" />
        <h2>Album</h2>
      </div>
      <div routerLink="/todo" routerLinkActive="active" class="cardContent">
        <img class="img" src="../../../assets/imgs/checkbox.png" />
        <h2>To-do</h2>
      </div>
    </div>
  </div>
</div>
<div class="footerBackground">
  <img src="../../../assets/imgs/pattern.jpg" />
</div>
