<div class="backgroundContainer">
  <div class="editMainContainer">
    <img
      routerLink="/posts"
      class="backArrow"
      src="../../../../assets/imgs/backarrow.png"
    />
    <h2>Title</h2>
    <div class="hrDiv"></div>
    <p>1</p>
    <h2>Body</h2>
    <div class="hrDiv"></div>
    <p class="firstText">2</p>
    <button class="editBtn" (click)="openModal()" type="submit">Edit</button>
  </div>
  <app-modal [isOpen]="isModalOpen" (close)="closeModal()">
    <h2>Title</h2>
    <div class="hrDiv"></div>
    <input class="updateInputs" />
    <h2>Body</h2>
    <div class="hrDiv"></div>
    <textarea class="updateInputs"></textarea>
    <div class="modal-footer">
      <button type="button" class="updateBtn" (click)="closeModal()">
        Update
      </button>
    </div>
  </app-modal>
  <div class="commentsMainContainer">
    <div class="commentsContainer">
      <div *ngFor="let comment of comments" class="commentCardContainer">
        <img class="avatar" src="../../../../assets/imgs/avatar.jpg" />
        <div class="comment">
          <h3>{{ comment.name }}</h3>
          <p class="secondText">{{ comment.body }}</p>
        </div>
      </div>
    </div>
    <p class="addP">Add Comment</p>
    <div class="addCommentContainer">
      <img class="avatar" src="../../../../assets/imgs/avatar.jpg" />
      <form
        (submit)="
          addNewComment(name.value, commentBody.value); $event.preventDefault()
        "
        [formGroup]="addCommentForm"
      >
        <label class="nameLabel" for="name">Name</label>
        <input name="name" formControlName="userName" #name />
        <label>Body</label>
        <input formControlName="body" #commentBody />
        <button class="addCommentBtn" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
