.backgroundContainer {
  width: 100vw;
  height: fit-content;
  background-image: url(../../../assets/imgs/pattern.jpg);
  border-top: 1px solid gray;
}
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 90px;
}
table {
  width: 60vw;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
}
td {
  text-align: left;
}
td,
th {
  padding: 15px 30px;
  width: 33%;
}
th {
  text-align: center;
  color: white;
  background-color: rgb(0, 157, 255);
}
tr:nth-child(odd) {
  background-color: #ebebeb;
}