.modalContainer {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  &.show {
    display: block;
  }
}

.modal {
  margin-left: 100px;
  margin-top: 100px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  width: 40%;
}

.modal-header,
.modal-footer {
  padding: 1rem;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 1rem;
}
.close {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.updateBtn {
  background-color: rgb(255, 213, 0);
  border: none;
  padding: 15px 20px;
}
// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgb(227, 227, 227);

//   &.show {
//     opacity: 0.5;
//   }
// }
